/* Este código remove a moldura branca de todas as imagens com a classe img-thumbnail */
.img-thumbnail {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    max-width: 100%;
    height: auto;
}